body{
    
    font-family: Calibri;
    padding: 10px 20px;
}

h1 {
	color: #FFFFFF;
	background-color: #ffbd33;
	padding: 10px;
	border-radius:0 20px;
}

h2{
	color: #FFFFFF;
	background-color: #ffbd33;
	width: 500px;
	padding: 10px;
	border-radius:20px;
	text-align: center;
}

ul li{
	list-style: circle;
}

h3{
	color: #FFFFFF;
	background-color: #ffbd33;
	width: 500px;
	padding: 10px;
	text-align: center;
	border-radius:20px;
}